<!DOCTYPE html>
<html lang="en">

    <body>
        <div class="container" id="container_app">
            <form>
                <fieldset>
                    <legend>
                        Name(s):
                    </legend>
                    <input type="text" v-model="new_name" placeholder="write here" name="">
                </fieldset>

                <fieldset>
                    <legend>
                        Lastname(s):
                    </legend>
                    <input type="text" v-model="new_lastname" placeholder="write here" name="">
                </fieldset>


                <br>
                <hr>

                <button type="button" v-on:click="savePerson">
                    save data
                </button>
            </form>


            <ol>
                <li v-for="p in persons">
                    {{p.firstName}} {{p.lastName}}
                </li>
            </ol>

        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"> </script>
        <script>
            const {createApp, ref} = Vue
            
            createApp({
                setup(){
  

                    return{
                        //2 variables
                        new_name: ref(''),
                        new_lastname: ref(''),
                        persons: ref([])

                    };

                },

                
                methods:{
                    //3 metodo
                    savePerson(){
                        //4 objeto
                        let p={
                            firstName:this.new_name,
                            lastName:this.new_lastname
                        };

                        //5 ingresa dato en arreglo
                        this.persons.push(p);
                    }
                }

            }).mount("#container_app");

        </script>
    
    </body>

</html>